/*  your css code here. If applicable */
body{background-color: black;}
.container {
    display: grid;
    grid-template-columns: repeat(40, 20px); /* 40 columns */
    grid-template-rows: repeat(20, 20px); /* 20 rows */
    gap: 1px; /* Gap between squares */
}

.square {
    width: 20px;
    height: 20px;
    background-color: #343434; /* Default color */
}

/* Define different background colors for each box */
.square:nth-child(1):hover {
    background-color: #ff0000; /* Red */
}

.square:nth-child(2):hover {
    background-color: #00ff00; /* Green */
}

.square:nth-child(3):hover {
    background-color: #0000ff; /* Blue */
}